* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



nav {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: flex;
  gap: 42px;
  margin-top: 50px;
  margin-left: 72px;
  align-items: center;
 
}

a {
  text-decoration: none;
  color: #C4C4CC;
}

a:hover {
  font-weight: 700;
  color: white;
}

main {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

button {
  text-transform: uppercase;
}